html{ 


}

header{

	margin-bottom: 3rem;
}

p{
	line-height: 1.6;
}

a.see-all{

	font-size: .8em;
	text-transform: uppercase;
}

h2{
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: lighter;
}

.shows h1{
	font-weight: lighter;
	font-size: 2.5rem;
	border-top: 1px solid black;
}

.cast img{
	width: 100%;
}
.cast div{
	font-size: .8rem;
}
.cast li{
	width: 25%;
}

li.selected a{
	color:black;
	font-weight: 900; 
}

.cast a > div{

	font-weight: 900;
}

.cast div:last-child {

	font-style: italic;
}

#game-of-thrones .seasons li:last-child::after { 
    content: "*";
}


#game-of-thrones .seasons ul::after { 
    content: "In production";
    display: block;
    font-size: .7rem;
    color: #999;

}


