html{

	text-align: center;
 	margin-top: : 75px;
 	margin-left: 100px;
 	margin-right:100px;
 	margin-bottom: 75px;
    font-size: 18px;
    font-weight: lighter;
   	background-image: url(https://allaboutthehouseblog.files.wordpress.com/2014/02/aath-horizontal-stripes-black.jpg);
    
}


div{

	font-style: italic;
}

img {
	border-radius: 50%;

	display: inline-block;

}

h1{
	margin: 2px;
	font-size: 100px;
	line-height: 50px;
	font-family:  "Courier";
	font-weight: 900px;

}

h2 {
	font-size: 32px;
	line-height: -10px;
	font-family: "Courier", sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	color: white;

}

body{
	background-color: pink;
	color: black;
	margin-top: 2cm;
	font-family: "Avant Garde", sans-serif;
	border-radius: 20px;
	padding-bottom: 36px;
	padding-top: 36px;
}


p span {
	 color: white;
}
