html{

	text-align: center;
    background-image: url("https://wallpapercave.com/wp/5Uv3uIA.gif");
    font-size: 18px;
    font-family:  "Bodoni 72";
    
    border: 7px solid purple;
    border-radius: 25px;
}

head{

	font-weight: bold;

}

h1{
	font-size: 48px;
	line-height: 10px;
}

h2{
	font-size: 24px
	line-height: 10px;
}

body{
	margin-top: 2cm;
}
	

}

}
