
		
		body {
			width: 960px;
			margin: 2em auto;
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.4;
		}

		h1 {
			font-size: 2em;
			font-weight: normal;
			margin: 0 0 1rem 0;
		}
		section {
			padding: 2rem;
			border: 1px solid #ccc;
			margin: 4rem 0;
			background-color: #fff;
		}

		aside {
			font-size: 24px;
			font-family: Georgia, Serif;
			font-style: italic;
			background-color: #aaa;
			color: #fff;
			padding: 1.5rem;
			width: 15rem;
		}

		.first{
			float: right;
		}
		
		.second {
    		position: absolute;
    		margin-left:638px;
    		margin-top:72px;
    	}

    	.third{
    		position: fixed;
    		background-color: green;
    		top: 0px;
    		right:0px;
    	}

    	.front{
 
    		background-color: red;
    		position: absolute;
    		z-index:2;
    		margin-left: 280px;
    		margin-top: -10px; 

    		    	}
    	.back{
    		background-color: black;
    		position: absolute;
    		margin-left: 290px;
   			
    	}
